<html>
    <head>
        <title>Physics practicle simulator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/ico" href="res/logo.png" />
    </head>
    <body>
        <div class="container">
            <div class="text-center">
                    <div class="row bg-info"><h3>
                        <a id="logSpn" href="{{url}}" class="col-sm-2 label label-primary"><i class="glyphicon glyphicon-user"  style="font-size:20px;color:goldenrod;"></i> {{loged}}</a>
                        <div class="" style="display:{{display}}">          <!-- this for loged only region -->
                            <label class="col-sm-4 label label-basic text-left" style="font-size:16px;color:darkcyan;text-align:left">User ID: {{email}}</label>
                            <a class=" col-sm-2" id="question" href="/question"><i class="glyphicon glyphicon-question-sign"  style="font-size:14px;color:darkblue;"></i> Questions</a>
                        </div>
                    </h3></div>
                    <h1><span class="label label-info">Physics practicle simulator</span><br></h1><br>
                <!--
                <div class="col-md-3 panel" style="background-color:rgba(99, 178, 192, 0.692)">
                        <h3><span class="label label-primary">Title</span></h3><br>

                    <div class="list-group">
                        <a href="#" class="list-group-item active">Electonic</a>
                        <a href="#" class="list-group-item">About</a>
                    </div><br>
                </div>
                -->

                <div class="col-md-4 panel" style="background-color:rgba(99, 163, 192, 0.692)">
                        <h3><span class="label label-primary">Practicle list</span></h3><br>
                        {{#each practicals}}
                        <div class="list-group">
                            <a description="{{description}}" url="{{url}}" onclick="ClickOnPracticalFunction(this)" class="list-group-item list-group-item-action">{{this.name}}</a>
                        </div><br>
                        {{/each}}
                </div>

                <div class="col-md-7 col-sm-offset-1 panel" style="background-color:rgba(99, 192, 161, 0.692)">
                        <h3><span class="label label-primary">Description</span></h3><br>

                        <div id="detailDiv" class="well well-sm">
                            Select a practical and try with simulator.
                        </div>

                        <button id="btnTrySimulator" onclick="redirects(this)" class="btn btn-success">Try with simulator</button><br><br>
                </div>
            </div>
        </div>
        <script>
            function ClickOnPracticalFunction(clicked){
                document.getElementById("detailDiv").innerHTML = clicked.getAttribute("description");
                document.getElementById("btnTrySimulator").setAttribute("url",clicked.getAttribute("url"));
            }

            function redirects(el){
                var url = el.getAttribute("url");
                url = "/"+url;
                document.location.href = url;
                //window.open (url);
            }
        </script>
    </body>
</html>